<div class="page-footer sticky-bottom font-small darken-3 p-1">
    <section class="content-block-nopad footer-wrap-1-2 pt-4 text-nowrap text-justify clearfix" style="background: white; background-color: #cacaca !important;">
        <div class="container footer-1-2 p-2">
            <div class="text-center">
                <span class="text-center p-3" style="margin:0px 20px 0px 20px;">
                       <a  href="{% url 'contactus' %}"><i class="fa fa-phone fa-lg mr-md-5 mr-3 fa-2x" style=" color: rgb(0, 151, 25);"> </i></a>
                   </span>
                <span class="text-center p-3" style="margin:0px 20px 0px 20px;">
                        <a  href="{% url 'aboutus' %}"><i class="fa fa-university fa-lg white-text mr-md-5 mr-3 fa-2x" style = "color: rgb(29, 161, 242);"> </i></a>            
                   </span>
                <span class="text-center p-3" style="margin:0px 20px 0px 20px;">
                    <a  href="https://wa.me/+255744583729?text=Ping%20me%20here%20whatsapp"><i class="fa fa-store-alt fa-lg text-primary mr-md-5 mr-3 fa-2x" style=" color:  rgb(243, 55, 55);"> </i></a>
                   </span>
            </div>
        </div>
        <div class="footer text-center pt-3">Copyright &copy; {% now "Y" %} <a href="{% url 'homepage' %}" style="color: rgb(43, 41, 41)">Electronic Stationery</a>
        </div>
        <br>
    </section>
</div>