{% extends 'base/base.html' %} {% load humanize %} {% block title %}
<title>{{ stat }}orders records</title>
{% endblock title %} {% block parkistan %}
<br><br>
<div class="container mt-3 p-2" style="border-radius: 5px; background-image: linear-gradient(-90deg, #a83279, #d38312);">
    <div class="container bg-light shadow-sm mt-3 " style="border-radius: 3px; border-top-right-radius: 3px;">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm mt-2">
            <div class="form-inline">
                <h5>All order records</h5><span class="badge badge-success ml-2">{{ records.count }}</span>
            </div>
        </nav>
        <table class="table table-responsive-sm mt-2 shadow-sm mb-3 text-center">
            <thead>
                <tr>
                    <th><i class="fa fa-tags mr-1" style="color: #a83279;"></i> S/N</th>
                    <th><i class="fa fa-cart-arrow-down mr-1" style="color: #a83279;"></i> Order ID</th>
                    <th><i class="fa fa-coins mr-1" style="color: #a83279;"></i> Amount</th>
                    <th><i class="fa fa-calendar-alt mr-1" style="color: #a83279;"></i> Ordered on</th>
                    <th><i class="fa fa-check-square mr-1" style="color: #a83279;"></i> Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in records %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'orderdetails' order.pk %}"> #ORDER_{{ order.id }}</a></td>
                    <td>{{ order.totalpay|intcomma }}</td>
                    <td class="text-justfy">{{ order.order_date|timesince }} ago</td>
                    <td>
                        <span class="btn btn-outline-success btn-sm">{{order.status}}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br> {% endblock parkistan %}