{% extends 'base/base.html' %} {% load static %} {% block title %}
<title>Dashboard</title>
{% endblock title %} {% block stat %}
<link rel="stylesheet" href="{% static 'assets/css/style2.css' %}"> {% endblock stat %} {% block parkistan %}
<div class="container mt-2 mb-5">
    <div class="row justify-content-center">
        {% for stat in stationery %}
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card mt-1" data-pg-ia='{"l":[{"trg":"mouseenter","t":"this","a":"pulse"}]}'>
            <a href="{% url 'mystationery' stat.pk %}" class="stat" style="text-decoration: none;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="align-items-center align-self-start">
                                    <h4 class="mb-0  text-white"> {{stat.name}}</h4>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success text-warning">
                                    <span class="fa fa-home fa-2x"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Owner : {{user.first_name}} {{user.last_name}}</h6>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

        <div class="col-xl-3 col-sm-6 grid-margin stretch-card mt-1" data-pg-ia='{"l":[{"trg":"mouseenter","t":"this","a":"pulse"}]}'>
            <a href="{% url 'new_stationery' %}" class="add-stat" style="text-decoration: none;">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex align-items-center align-self-start text-success">
                                    <h3 class="mb-2 mt-n2">Add New</h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="icon icon-box-danger mb-n5" style="float: left;">
                                    <span class="fa fa-plus fa-4x text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">By : {{user.first_name}} {{user.last_name}}</h6>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
{% endblock parkistan %}