{% extends 'base/base.html' %} {% load humanize %} {% block title %}
<title>order details</title>
{% endblock title %} {% block parkistan %}
                    {% if ord_obj %}
<div class="container">


    <div class="row">
        <div class="jumbotron col-md-8 mx-auto p-0">
            <div class="container">
                <h4 class="display-5">Order Details</h4>
                <hr class="my-3" />
                <p><span class="font-weight-bold">Order ID :</span> #ORDER_{{ shipping }}</p>
                <p><span class="font-weight-bold">Ordered By :</span> {{ shipping.customer.first_name }} {{ shipping.customer.last_name }}</p>
                <p><span class="font-weight-bold">Shipping Addredd :</span> {{ shipping.customer.username }}, {{ shipping.customer.userprofile.phone_number }}, {{ shipping.customer.email }}</p>
                <p><span class="font-weight-bold">Delivery Service :</span> {{ shipping.destination }}</p>
                <p><span class="font-weight-bold">Order Date :</span> {{ shipping.order_date }} ({{ shipping.order_date|timesince }} ago)</p>
            </div>
        </div>
    </div>

    <div class="container p-1" style="border-radius: 5px; background-image: linear-gradient(-90deg, #a83279, #d38312);">
        <div class="container bg-light shadow-sm mt-3 " style="border-radius: 3px; border-top-right-radius: 3px;">
            <nav class="navbar navbar-expand-lg navbar-light shadow-sm mt-2">
                <div class="form-inline">
                    <h5>Ordered Items</h5><span class="badge badge-success ml-2">{{ count }}</span>
                </div>
            </nav>
            <table class="table table-responsive-sm mt-2 shadow-sm mb-3 text-center">
                <thead>
                    <tr>
                        <th><i class="fa fa-tags mr-1" style="color: #a83279;"></i> S/N</th>
                        <th><i class="fa fa-cart-arrow-down mr-1" style="color: #a83279;"></i>Item</th>
                        <th><i class="fa fa-coins mr-1" style="color: #a83279;"></i> Rate</th>
                        <th><i class="fa fa-archive mr-1" style="color: #a83279;"></i> Quantity</th>
                        <th><i class="fa fa-coins mr-1" style="color: #a83279;"></i> Subtotal</th>
                    </tr>
                </thead>
                <tbody> {% for item in ord_obj %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product.item_name }} ({{ item.product.id }})
                        </td>
                        <td>{{ item.rate|intcomma }}</td>
                        <td>{{ item.quantity|intcomma }}</td>
                        <td>{{ item.subtotal|intcomma }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total : </th>
                        <th>Tsh. {{ zuku_total|intcomma }} /-</th>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan='5'>
                            <div class='alert alert-info text-center my-2'>you gotta no product from this order</div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br> {% endblock parkistan %}