{% extends 'base/base.html' %}
{% block title %}
         <title>stationer home</title>
       {% endblock title %}
{% block parkistan %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow" style="background-image: linear-gradient(-90deg,  #d38312,#a83279);">
        <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Stationer Name</h6>
            <small>Stationery Name</small>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Orders &amp; Posted Tasks</h6>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img18.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">Full name</strong> Service : type of service & its service + File | Order : Product Name | Destination : location for delivery for any of it if required | Requested on : Time posted and day.<a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Approve</a></p>
        </div>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img18.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">Full name</strong>  Service : type of service & its service + File | Order : Product Name | Destination : location for delivery for any of it if required | Requested on : Time posted and day. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Approve</a></p>
        </div>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">Full name</strong>  Service : type of service & its service + File | Order : Product Name | Destination : location for delivery for any of it if required | Requested on : Time posted and day. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Approve</a></p>
        </div>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">Full name</strong>  Service : type of service & its service + File | Order : Product Name | Destination : location for delivery for any of it if required | Requested on : Time posted and day. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Approve</a></p>
        </div>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">Full name</strong>  Service : type of service & its service + File | Order : Product Name | Destination : location for delivery for any of it if required | Requested on : Time posted and day. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Approve</a></p>
        </div>
        <small class="d-block text-right mt-3"> <a href="#">All updates</a> </small>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Customer Comments</h6>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">@username</strong> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Reply</a></p>
        </div>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">@username</strong> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Reply</a></p>
        </div>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">@username</strong> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Reply</a></p>
        </div>
        <div class="media text-muted pt-3">
            <img src="http://pinegrow.com/placeholders/img11.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark">@username</strong> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <a href="file:///C:/Users/HQ/Desktop/New%20folder%20(2)/stationer.html?pgedit=1&amp;pgpvid=2#" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="7" medium-editor-index="a6450e50-8dec-ecd5-9cfd-10c4eae9ab7e" data-placeholder="Type your text" data-medium-focused="true" style="float: right;">Reply</a></p>
        </div>                 
        <small class="d-block text-right mt-3"> <a href="#">All Comments</a> </small>
    </div>
</main>
<br><br>
{% endblock parkistan %}