{% extends 'base/base.html' %}
{% block title %}
         <title>password changed successfull</title>
       {% endblock title %}
{% load static %}
{% block parkistan %}


    <div class="flex-center mt-5 mr-4 ml-n3" id="mytext">
        <ul class="messages text-center" style="list-style: none;" >
	        <li>
	       	 	<div class="alert alert-info">Your password was changed successful..<br>View profile <a href="{% url 'profile' %}"> Here</a></div>
	        </li>
        </ul>
    </div>

{% endblock parkistan %}
